


<h1>New Order</h1>

<%= form_with scope: :order, url:  '/orders.json', local: true, id: "new_order" do |form| %>







  <div class="field">
<textarea name="input_string" cols="40" rows="3"></textarea>


  </div>

       <input type="hidden" name="submit_type" value="save">

<input type="submit" value="save">


  <% end %>




<%= link_to 'Back', orders_path %>
